* {
    margin: 0 !important ;
    padding: 0 !important;
    box-sizing: border-box !important;
}

/* BODY START */
body {
    background-color: #f8f9fa !important;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: darkgrey !important;
}
body::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3 );
 background-color: grey !important;
 border-radius: 10px;
}
.nav-font{
    font-size:20px ;
}
.font-size-main{
    font-size: 23px;
}
.user-font{
    font-size: 20px;
}
.navbar-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7749f8;
    height: 30px;
}
.navbar-login a{
    color: #fff;
}

.login-main-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff !important;
    height: 70px;
}

.user-heading{
    height: 70px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

/* ALL BLOG  */
.all-blog-main{
   
     margin-left: 12% !important;
     margin-top: 15px !important;
    /* border: solid; */
    height: auto;
    width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: #fff !important;
}
@media screen and (max-width:750px) {
       /* body{
        background-color: #7749f8 !important;
       } */
     .all-blog-main{
        width: 80%;
        margin-left: 7% !important;
     }
     .nav-font{
        font-size:13px ;
    }
    .font-size-main{
        font-size: 15px;
    }
    .user-font{
        font-size: 15px;
    }
}
.allblog-image-name-parent{
    display: flex;
    margin-top: 10px;
}
.allblog-image {
    /* border: solid; */
    width: 65px;
    height: 65px;
    border-radius: 10px;
    margin-left: 3% !important;
}
.allblog-image img{
    /* object-fit: contain; */
    width: 65px;
    height: 64px;
    border-radius: 10px;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.all-blog-value{
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    min-height:150px ;
    /* border: solid; */
    height: auto;
    word-wrap: break-word;
    padding-top: 10px !important;
    width: 96%;
    margin: auto !important;
}

.user-btn{
    margin-top: 15px !important;
    color: #7749f8;
    border:none;
    outline: none; 
    background-color: transparent;
}




