* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa !important;
}

.navbar-login {
    display: flex;
    justify-content: space-between;
    background-color: #7749f8;
    height: 40px;
}
.navbar-login a{
    margin-right: 3%;
    color: #fff;
}

.login-main-heading {
    background-color: #fff !important;
    height: 150px;
}

.login-main-parent {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.login-main {
    margin: auto;
    height: 200px;
    width: 30%;
    background-color: #fff;
    border: solid;
    display: flex;
    flex-direction: column;
}

.login-main input {
    height: 40px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

.login-main button {
    height: 30px;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    background-color: #7749f8;
    border: none;
}