* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
/* BODY START */
body {
    background-color: #f8f9fa !important;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: darkgrey !important;
}
body::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3 );
 background-color: grey !important;
 border-radius: 10px;
}

.navbar-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7749f8;
    height: 40px;
}
.navbar-login a{
    margin-right: 3%;
    color: #fff;
}
li{
    list-style: none;
}

.dash-board-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #fff !important;
    /* border: solid; */
}
.dashboard-input{
   margin-left: 12% !important;
    margin-top: 15px !important;
}
/* MAIN BLOG SHOW */
.blog-main {
    display: flex;
    justify-content: space-around;
    /* border: solid; */
    flex-direction: column;
    height: 300px;
    /* margin:0 auto !important; */
    width: 54%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* margin-top: 15px; */
}
/* textarea{
    resize: none;
} */
.blog-input {
    height: 100px;
    width: 60%;
    margin: 0 auto !important;
}
.blog-tittle{
    height: 40px;
    width: 60%;
    margin: 0 auto !important;
}
.blog-main input {
    margin-top: 20px !important;
    width:80% ;
    /* margin: auto !important; */
}
.blog-main textarea{
    margin-top: 20px !important;
    width:80% ;
    resize:none ;
    /* margin: auto !important; */
}
.input-btn{
    margin-left: 10% !important;
    margin-top: 15px !important;
    background-color: #7749f8 !important;
    color: #fff !important; 
    font-size:13px !important ;
    height:35px;
    width: 180px;
}
.blog-show {
    width: 60%;
    margin-left: 12%  !important;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: solid; */
    margin-top:40px !important ;
    border-radius: 10px;
    height: auto;
}
.blog-profile-pic{
    height:65px;
    width: 8%;
    border-radius: 20%;
    /* border: solid; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog-profile-pic img{
    width: 98%;
    height: 65px;
    border-radius: 20%;
    margin: auto !important;
    object-fit: cover;
}
.pic-tittle{
    /* margin-top: 10px !important; */
    /* border: solid; */
    display: flex;
    height: 80px;
}
.pic-tittle h3{
    margin-top: 20px;
}
.blog-value-btn{
    /* border: solid; */
    height: auto;
    width:96%  !important;
    word-wrap: break-word;
}
.update-delete{
    background-color: transparent;
    color: #7749f8;
    border: none;
    margin-left: 2% !important;
}