*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
/* BODY START */
body {
    background-color: #f8f9fa !important;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: darkgrey !important;
}
body::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3 );
 background-color: grey !important;
 border-radius: 10px;
}
/* NAVBAR START */
.navbar-bg{
    background-color:#7749f8 !important;
    height: 30px;
}
.navbar2{
    background-color: #fff !important;
    height: 50px;
    display:flex ;
    align-items: center ;
}

.user-heading{
    height: 70px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
/* BLOG SHOW */
.main-user{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap-reverse; */
    width: 100% !important;

}

.blog-single-user{
    width:50%;
}
.all-blog-main{
    background-color: #fff;
    margin-top: 10px !important;
    height: auto;
    
    width: 98%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.allblog-image-name-parent{
    display: flex;
    margin-top: 10px;
}
.allblog-image {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
}
.allblog-image img{
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.all-blog-value{
    min-height: 200px;
    max-height: auto;
}

.profile-image-name{
width: 15%;  
height: 200px;  
/* border: solid; */

}
.profile-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.user-name{
    color: #7749f8;
}
.profile-name-email{
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 10px !important;

}
.profile-name-email h1{
     font-size: 5rem;
}